<div class="header" fxLayout="column" fxLayoutAlign="end">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h2 (click)="goToPage('home')">T-Instagram</h2>
      <div *ngIf = "loginState ; else elseProfile">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
          <button mat-raised-button color="accent" (click)="goToPage('login')">
            Log in
          </button>
          <button mat-raised-button color="accent" (click)="goToPage('register')">
            Register
          </button>
         </div>
    </div>
    <ng-template #elseProfile> 
        <div fxLayoutGap="20px">
          <app-button-profile></app-button-profile> 
      <button mat-raised-button color="accent" (click)="changeState()">
        Logout
      </button>
        </div>
     </ng-template>
  </div>
</div>
<div id="router">
  <router-outlet></router-outlet>
</div>
