::ng-deep {
  .home {
    .block-story {
      padding-left: 400px !important;
      padding-top: 30px;
      .story {
        padding-left: 20px;
      }
    }
    .block-page {
      padding-left: 400px !important;
      .post {
        padding-bottom: 40px;
      }
    }
  }

}
.home-container {
  padding-left: 30px;
  padding-right: 30px;
}